# ${project_name}
## Environment: ${environment}

This is a sample repository for for a project. This repository is tracked in HCP Terraform at the following location:


| Organization | Project | Workspace |
|--------------|---------|-----------|
| ${terraform_organization} | ${terraform_project} | ${terraform_workspace} |

Clone this repository and run the following to verify Azure connectivity using Terraform Workload Identity:

```
terraform init 
terraform plan 
terraform apply
```